<!-- father.component.html -->
<div style="padding: 20px">
  <h1>Apple</h1>
  <nz-card nzTitle="Jefe de Apple 👨‍🦰:">
    <div class="borderVariables">
      <div>Variable del Padre:</div>
      <div>parentMessageInput</div>
      <div>childMessageEventOutput</div>
    </div>
    <div class="border">
      Hijo usando &#64;Output:
      <h3>{{ childMessageEventOutput }}</h3>
    </div>
    <app-child
      [parentMessageInput]="parentMessageInput"
      (childMessageEventOutput)="receiveMessage($event)"
    >
      <div class="border">
        Padre usando &#64;ContentChild:
        <h3>Por aquí el jefe de la empresa se comunica con el empleado</h3>
      </div>
    </app-child>
  </nz-card>
</div>
