<div class="citizen-container">
  <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen1.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen1.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen1.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen2.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen2.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen2.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen3.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen3.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen3.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen4.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen4.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen4.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen5.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen5.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen5.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen6.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen6.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen6.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen7.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen7.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen7.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen8.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen8.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen8.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen9.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen9.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen9.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen10.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen10.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen10.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen11.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen11.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen11.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen12.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen12.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen12.age }}</p>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen13.role }}</h1>
    <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ citizen13.name }}</h2>
    <p style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ "Your age is: " + citizen13.age }}</p>
    
  </div>
  