<!-- child.component.html -->
<div style="padding: 20px; box-shadow: 2px 10px 30px #888888">
  <nz-card nzTitle="Empleado de Apple 🙋‍♂️:">
    <div class="borderVariables">
      <div>Variables del Hijo:</div>
      <div>parentMessageInput</div>
      <div>childMessageEventOutput</div>
      <div>parentMessageViewChild</div>
    </div>
    <div class="border">
      Padre usando &#64;Input:
      <h3>{{ parentMessageInput }}</h3>
    </div>
    <div class="border">
      Padre usando &#64;ViewChild:
      <h3>{{ parentMessageViewChild }}</h3>
    </div>

    <ng-content></ng-content>
  </nz-card>
  <button nz-button nzType="primary" (click)="sendMessage()">
    Enviar Mensaje al Jefe
  </button>
</div>
